<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>EJS Project for Beginners</title>
</head>

<body>
    <h1>Internal DB for Reference on IT Tickets</h1>
    <h2>
        <%= Date() %>
    </h2>
    <img src="/howtonode.png" width="80%">


</body>

</html>